.cardHeader {
  margin-top: 0;
}

.container {
  background: var(--card-background);
  border: 2px solid var(--green);
  border-radius: 4px;
  color: var(--primary-dark);
  display: flex;
  margin: 1rem;
  padding: 2rem;
  width: 50%;
}

.headerContainer {
  flex: 1;
  text-align: left;
}

.shiftDetails {
  flex: 2;
  text-align: center;
}
