:root {
  --card-background: #c0e3f7;
  --primary-dark: #1a2309;
  --green: #2e8b57;
  --blue: #2a7ab0;
}

p {
  margin: 0.4rem;
}

nav {
  padding: 1rem;
  text-align: right;
}

h1 {
  margin-top: 0;
}

.App {
  text-align: center;
}
